# <center>The Price of Gold<center>

## 1 Domain-specific area and objectives of the project 

The chosen domain for this report is financial markets, in particular, tracking one of the most popular commodity and a form of currency, **gold**.

Gold has been used as a form of currency and a store of value for centuries[1]. Its historical significance as a medium of exchange as well as symbol of wealth has contributed to its enduring role in finance. Gold is actively traded on daily basis on various global exchanges. Traders buy and sell gold futures contracts to speculate on its future price movements.

Gold is incorporated into various financial instruments, such as Exchange-Traded Funds (ETFs) and gold-backed securities[2]. These instruments allow commercial and retail investors to gain exposure to gold prices without physically owning the metal. It also helps to fight against inflation, as gold supply cannot be artificially inflated like fiat currencies[3].

As well as being a financial instrument to invest in and generate wealth, gold is often considered a "safe haven" asset. During times of economic uncertainty or political instability, people tend to flee towards gold as a store of value. Why? Gold is perceived as a stable and reliable asset that can retain its worth in challenging economic conditions. It can be said that people's perception and ideologies towards gold contributes to the metal's value as well.

**As of now, with global market instability, war, and inflation, determining where the price of gold will be in the near future can be a problem for both retail investor and institutions alike.**

Now that we know what gold is and why people value it, we can understand why Machine Learning (ML) can come into place here.

**A linear regression model can help us predict the future price of gold**. It can give investors an indicator of whether their asset will appreciate or depreciate in the coming future. It can also provide a general consensus of the public's view on gold, as declining gold prices could indicate a disinterest in gold as a commodity, as its demand may be dropping. *Though there are several factors the affect the price of gold*, using historical gold price data is a valid method of predicting its future price. There are already algorithms and trading bots being used by traders that utilize ML to make trades based of historical data.

The objective of this project is to build a model that will give us a prediction to future gold prices, which can be use to aid in our decision-making process of whether to add gold to our investment portfolio, or to liquidate it, as well as visualizing the price change over the decades.

The results of this project may offer both academic and practical insights into the precious metals markets.

## 2 Dataset

The dataset acquired to be used for this project comes from Kaggle[4]. The dataset comes in three CSV files that are zipped together. The file names are, "Gold_Daily", "Gold_Monthly", and "Gold_Yearly". The size of each files are 358KB, 23KB and 3KB, bringing the total size of the dataset to 384KB. The way the data was sourced, as stated on the Kaggle page, was from Investing.com[5], which is financial market website that also stores historical prices of tradable assets on the exchange.

The three CSV files contains information such as the date of the historical gold price, its high, low, open, as well as its volume and change. The total number of columns for each file is 7, though its column headers are not identical. The date column is the 'date' of the gold on the exchange, the 'price' is its closing price for that day. The 'open' column is what the price of gold opened at during the start of the day, and the 'high' and 'low' is the the highest price and lowest price gold reached during the day

This dataset is suitable to the objectives of the project, as it contains a linear trendline that can be implemented into a linear regression model. It highlights the chosen domain of financial markets, and the tracking price of one of the most popular commodities. It is also not in 1NF has it does not a have primary key, and also contains missing values.

## 3 Data Preparation

We will start processing the dataset here. The steps that will be undertaken here are:

    - converting into appropriate datatype
    - addressing missing values
    - assigning a unique ID to the dataset
    - transforming it into a 1NF dataset
    
These steps are needed to reduce redundancy, increase accuracy of the dataset, which will in turn help our linear regression model later on. We will be using the Pandas library for this.

In [1]:
import pandas as pd

#load the 3 csv files into a dataframe
daily_df = pd.read_csv('gold/Gold_Daily.csv')
monthly_df = pd.read_csv('gold/Gold_Monthly.csv')
yearly_df = pd.read_csv('gold/Gold_Yearly.csv')

print(daily_df.head(5))
print("\n")
print(monthly_df.head(5))
print("\n")
print(yearly_df.head(5))
print("\n")

daily_df.info()
print("\n")

monthly_df.info()
print("\n")

yearly_df.info()

        Date  Price   Open   High    Low    Vol  Change %
0  06-Dec-94  375.8  375.6  376.5  375.1  0.99K    0.0008
1  07-Dec-94  376.1  377.0  377.5  375.1  1.88K    0.0008
2  08-Dec-94  376.6  375.3  376.7  374.8  0.48K    0.0013
3  09-Dec-94  377.0  375.6  377.0  375.5  0.38K    0.0011
4  12-Dec-94  377.5  376.8  377.8  376.5  0.07K    0.0013


     Date  Price   Open   High    Low Vol.  Change %
0  Feb 79  271.6  271.6  271.6  271.6    -    0.0727
1  Mar 79  256.6  256.6  256.6  256.6    -   -0.0552
2  Apr 79  262.4  262.4  262.4  262.4    -    0.0226
3  May 79  290.7  290.7  290.7  290.7    -    0.1079
4  Jun 79  293.5  293.5  293.5  293.5    -    0.0096


   Year  Average\nClosing Price  Year Open  Year High  Year Low  Year Close  \
0  1969                   41.10      41.80      43.75     35.00       35.21
1  1970                   35.96      35.13      39.19     34.78       37.38
2  1971                   40.80      37.33      43.90     37.33       43.50
3  1972                   58.17      43.73      70.00     43.73       64.70
4  1973                   97.12      64.99     127.00     64.10      112.25

   Annual\n% Change
0           -0.1607
1            0.0616
2            0.1637
3            0.4874
4            0.7349


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6886 entries, 0 to 6885
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6886 non-null   object
 1   Price     6886 non-null   float64
 2   Open      6886 non-null   float64
 3   High      6886 non-null   float64
 4   Low       6886 non-null   float64
 5   Vol       6886 non-null   object
 6   Change %  6886 non-null   float64
dtypes: float64(5), object(2)
memory usage: 376.7+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      515 non-null    object
 1   Price     515 non-null    float64
 2   Open      515 non-null    float64
 3   High      515 non-null    float64
 4   Low       515 non-null    float64
 5   Vol.      515 non-null    object
 6   Change %  515 non-null    float64
dtypes: float64(5), object(2)
memory usage: 28.3+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   53 non-null     int64
 1   Average
Closing Price  53 non-null     float64
 2   Year Open              53 non-null     float64
 3   Year High              53 non-null     float64
 4   Year Low               53 non-null     float64
 5   Year Close             53 non-null     float64
 6   Annual
% Change        53 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 3.0 KB

The above shows the format of the three CSV files, as well as the information of each dataframe. We can see they all contain 7 columns, with both float and object(string/mixed) data types. Lets first address the missing values for each file.

In the daily gold price csv file, the volume column has missing volume data denoted with the symbol '-'. Lets replace it with nan first. To do that, we will need to import numpy

In [2]:
daily_df[10:20]

         Date  Price   Open   High    Low    Vol  Change %
10  20-Dec-94  381.8  381.8  382.3  381.4  0.02K    0.0069
11  21-Dec-94  381.6  382.0  382.0  381.5  0.03K   -0.0005
12  22-Dec-94  381.0  381.5  381.5  381.5  0.05K   -0.0016
13  23-Dec-94  380.4  381.0  381.0  380.4  0.02K   -0.0016
14  27-Dec-94  381.6  381.0  382.0  381.0  0.06K    0.0032
15  28-Dec-94  383.7  382.1  383.6  382.1      -    0.0055
16  29-Dec-94  382.7  382.7  382.7  382.7      -   -0.0026
17  30-Dec-94  383.1  383.1  383.1  383.1      -    0.0010
18  03-Jan-95  379.6  379.6  379.6  379.6      -   -0.0091
19  04-Jan-95  374.0  377.7  377.7  374.0  0.00K   -0.0148

In [3]:
#identify duplicate rows
duplicateRows_D = daily_df[daily_df.duplicated()]

#view duplicate rows
duplicateRows_D

Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol, Change %]
Index: []

No duplicate rows

In [4]:
import numpy as np
#daily gold price
#replace '-' with NaN
daily_df['Vol'] = daily_df['Vol'].replace('-',np.nan) 
print(daily_df[10:20])

#count number of nan values
daily_df['Vol'].isna().sum()

         Date  Price   Open   High    Low    Vol  Change %
10  20-Dec-94  381.8  381.8  382.3  381.4  0.02K    0.0069
11  21-Dec-94  381.6  382.0  382.0  381.5  0.03K   -0.0005
12  22-Dec-94  381.0  381.5  381.5  381.5  0.05K   -0.0016
13  23-Dec-94  380.4  381.0  381.0  380.4  0.02K   -0.0016
14  27-Dec-94  381.6  381.0  382.0  381.0  0.06K    0.0032
15  28-Dec-94  383.7  382.1  383.6  382.1    NaN    0.0055
16  29-Dec-94  382.7  382.7  382.7  382.7    NaN   -0.0026
17  30-Dec-94  383.1  383.1  383.1  383.1    NaN    0.0010
18  03-Jan-95  379.6  379.6  379.6  379.6    NaN   -0.0091
19  04-Jan-95  374.0  377.7  377.7  374.0  0.00K   -0.0148

1302

We have replaced the missing values for the volume column with numpy NaN, and we can see that we have a total missing value count of 1302. We need to address this in our process of normalizing this dataset as it will improve data integrity and model accuracy.

#### How to address missing values?
Because out dataset is linear, we can use interpolate() to fill the missing values. The volume column denoted the volume traded in the session in thousands. We need to remove the "K" from the object and convert it to a float first, before interpolation can begin.

For columns that are identical with the daily and monthly csv files, we will be making functions so that we can call upon them to clean the data set for the 'Gold_Monthly.csv' file

In [5]:
#function to remove 'K' string and conver to numeric
def convertVol(dataframe):
    #remove 'K' and convert to numeric
    dataframe['Vol'] = dataframe['Vol'].str.replace('K', '').astype(float)
    #multiply by 1000 to convert from 'K' (thousands) to actual numeric values
    dataframe['Vol'] = dataframe['Vol'] * 1000
    return dataframe['Vol']


daily_df['Vol'] = convertVol(daily_df)

print(daily_df[10:20])

         Date  Price   Open   High    Low   Vol  Change %
10  20-Dec-94  381.8  381.8  382.3  381.4  20.0    0.0069
11  21-Dec-94  381.6  382.0  382.0  381.5  30.0   -0.0005
12  22-Dec-94  381.0  381.5  381.5  381.5  50.0   -0.0016
13  23-Dec-94  380.4  381.0  381.0  380.4  20.0   -0.0016
14  27-Dec-94  381.6  381.0  382.0  381.0  60.0    0.0032
15  28-Dec-94  383.7  382.1  383.6  382.1   NaN    0.0055
16  29-Dec-94  382.7  382.7  382.7  382.7   NaN   -0.0026
17  30-Dec-94  383.1  383.1  383.1  383.1   NaN    0.0010
18  03-Jan-95  379.6  379.6  379.6  379.6   NaN   -0.0091
19  04-Jan-95  374.0  377.7  377.7  374.0   0.0   -0.0148

In [6]:
#interpolate the missing values, set the direction to forward, from first entry to last
daily_df = daily_df.interpolate(method ='linear', limit_direction ='forward') 

#convert date to pandas datetime format
daily_df['Date']=pd.to_datetime(daily_df['Date'],format='%d-%b-%y')

#rename change column
daily_df = daily_df.rename(columns={"Change %":"Change"})

#add day month year columns and drop date
daily_df['Day'] = daily_df['Date'].dt.day
daily_df['Month'] = daily_df['Date'].dt.month
daily_df['Year'] = daily_df['Date'].dt.year
daily_df = daily_df.drop(columns=['Date'])

#assign unique ID for each row
daily_df['ID'] = range(len(daily_df))

#rearrange columns
arrange = ["ID","Day","Month","Year","Price","Open","High","Low","Vol","Change" ]
daily_df = daily_df.reindex(columns=arrange)

print(daily_df[:10])
print("\n")
print("Count of missing values:",daily_df['Vol'].isna().sum())

   ID  Day  Month  Year  Price   Open   High    Low     Vol  Change
0   0    6     12  1994  375.8  375.6  376.5  375.1   990.0  0.0008
1   1    7     12  1994  376.1  377.0  377.5  375.1  1880.0  0.0008
2   2    8     12  1994  376.6  375.3  376.7  374.8   480.0  0.0013
3   3    9     12  1994  377.0  375.6  377.0  375.5   380.0  0.0011
4   4   12     12  1994  377.5  376.8  377.8  376.5    70.0  0.0013
5   5   13     12  1994  377.6  379.5  379.5  378.0    40.0  0.0003
6   6   14     12  1994  378.9  379.0  381.0  379.0    50.0  0.0034
7   7   15     12  1994  380.2  379.9  380.3  378.9    80.0  0.0034
8   8   16     12  1994  378.6  380.5  380.5  379.0    40.0 -0.0042
9   9   19     12  1994  379.2  379.2  379.2  379.2    10.0  0.0016


Count of missing values: 0

We can see the volume column has been converted into a float, and the missing values has been interpolated. The total missing values is now zero. 

I have also converted the "Date" column to the appropriate pandas datetime object, as well as renaming the "Change%" column, which is the percent change of the previous and current (day, month, or year) price, to" "Change", to remove the special characters. 

Finally, split the date time format into separate columns, so that we can feed the multiple linear regression model the dates of the each historical gold price later on, and assign a unique ID to each row.

Lets now proceed with prepping the "Gold_Monthly.csv"

In [7]:
#identify duplicate rows
duplicateRows = monthly_df[monthly_df.duplicated()]

#view duplicate rows
duplicateRows

Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol., Change %]
Index: []

In [8]:
#rename columns
monthly_df = monthly_df.rename(columns={"Vol.":"Vol","Change %":"Change"})

#replace '-' with NaN
monthly_df['Vol'] = monthly_df['Vol'].replace('-',np.nan)

#the 2nd last entry in monthly where the volume is in millions, we will convert that first
monthly_df['Vol'] = monthly_df['Vol'].str.replace('M','')
monthly_df.at[513,'Vol'] = 1.31 * 1000000

#remoke 'K'and convert to float
monthly_df['Vol'] = convertVol(monthly_df)

In [9]:
#fill missing values
monthly_df = monthly_df.interpolate(method ='linear', limit_direction ='forward') 

#get pandas date time
monthly_df['Date']=pd.to_datetime(monthly_df['Date'],format='%b %y')
#month and year columns
monthly_df['Month'] = monthly_df['Date'].dt.month
monthly_df['Year'] = monthly_df['Date'].dt.year
#drop original date col
monthly_df = monthly_df.drop(columns=['Date'])

print(monthly_df[0:20])
print("\n")
print("Count of missing values:",monthly_df['Vol'].isna().sum())

    Price   Open   High    Low       Vol  Change  Month  Year
0   271.6  271.6  271.6  271.6       NaN  0.0727      2  1979
1   256.6  256.6  256.6  256.6       NaN -0.0552      3  1979
2   262.4  262.4  262.4  262.4       NaN  0.0226      4  1979
3   290.7  290.7  290.7  290.7       NaN  0.1079      5  1979
4   293.5  293.5  293.5  293.5       NaN  0.0096      6  1979
5   297.3  297.3  297.3  297.3       NaN  0.0129      7  1979
6   326.7  326.7  326.7  326.7       NaN  0.0989      8  1979
7   404.5  404.5  404.5  404.5       NaN  0.2381      9  1979
8   385.7  385.7  385.7  385.7       NaN -0.0465     10  1979
9   419.1  396.5  421.0  390.0       NaN  0.0866     11  1979
10  533.6  430.5  534.5  424.0       NaN  0.2732     12  1979
11  681.5  562.5  875.0  558.0  179390.0  0.2772      1  1980
12  631.0  677.0  729.0  599.0   49350.0 -0.0741      2  1980
13  501.5  631.0  648.5  453.0   57000.0 -0.2052      3  1980
14  501.6  504.0  562.0  465.0   23190.0  0.0002      4  1980
15  545.2  490.6  552.0  478.0   25700.0  0.0869      5  1980
16  647.4  567.0  658.5  550.0   26510.0  0.1875      6  1980
17  619.7  662.9  691.0  604.0   51300.0 -0.0428      7  1980
18  635.0  620.0  649.0  600.0   14270.0  0.0247      8  1980
19  671.5  639.7  727.0  635.5   48930.0  0.0575      9  1980


Count of missing values: 11

Looking at the above, we can see our data processing for the "Monthly_Gold.csv" file gave us 11 NaN values. This is because, originally, the first 11 rows had no recordings of the monthly volume of transactions, and our interpolate functions that fills the NaN value starts from the first index. Since there is no recorded, the interpolation can only being from the first recording of volume, in this case, row ID 11.

You might say, why not interpolate backwards from the last index? This would not make sense for this data set as logically speaking, the volume of transactions recorded at the year 2021, would naturally be significantly higher than that of 1979. Interpolating the data backwards would give us highly inaccurate estimates of the missing values.

The logical step here would be to simply drop the 11 rows.

In [10]:
monthly_df = monthly_df.dropna()

#assign unique ID for each row
monthly_df['ID'] = range(len(monthly_df))

#rearrange columns
arrange = ["ID","Month","Year","Price","Open","High","Low","Vol","Change" ]
monthly_df = monthly_df.reindex(columns=arrange)

monthly_df.head()

    ID  Month  Year  Price   Open   High    Low       Vol  Change
11   0      1  1980  681.5  562.5  875.0  558.0  179390.0  0.2772
12   1      2  1980  631.0  677.0  729.0  599.0   49350.0 -0.0741
13   2      3  1980  501.5  631.0  648.5  453.0   57000.0 -0.2052
14   3      4  1980  501.6  504.0  562.0  465.0   23190.0  0.0002
15   4      5  1980  545.2  490.6  552.0  478.0   25700.0  0.0869

Now prepping the "Yearly_Gold.csv". Only changes here needed are assigning a unique ID, and renaming of columns.

In [11]:
#rename columns
yearly_df = yearly_df.rename(columns={"Average\nClosing Price":"Average","Annual\n% Change":"Change"})

#assign ID
yearly_df['ID'] = range(len(yearly_df))

#arrange columns
cols = list(yearly_df.columns)
cols = [cols[-1]] + cols[:-1]
yearly_df = yearly_df[cols]

yearly_df.head()

   ID  Year  Average  Year Open  Year High  Year Low  Year Close  Change
0   0  1969    41.10      41.80      43.75     35.00       35.21 -0.1607
1   1  1970    35.96      35.13      39.19     34.78       37.38  0.0616
2   2  1971    40.80      37.33      43.90     37.33       43.50  0.1637
3   3  1972    58.17      43.73      70.00     43.73       64.70  0.4874
4   4  1973    97.12      64.99     127.00     64.10      112.25  0.7349

All three dataset have been normalized and converted in 1NF, where there following are satisfied:

    - a single cell must not hold more than one value (atomicity)
    - there must be a primary key for identification
    - no duplicated rows or columns
    - each column must have only one value for each row in the table

## 4 Statistical Analysis

Our cleaned dataset can now be analyzed to provide statistical insights. These statistical insights removes unnecessary information and logs important data about our dataset in an succinct manner.

These will include:

    - measures of central tendency
    - measures of spread
    - type of distribution

Measures of central tendency is the mode, mean and median of a dataset.

In [18]:
#display mode mean and median of monthly and daily gold prices
def measureCentralTendency(dataframe):
    measure_list = []
    measure_list.append(dataframe['Price'].mode()[0])
    measure_list.append(dataframe['Price'].mean())
    measure_list.append(dataframe['Price'].median())
    return measure_list

getStatsList= [measureCentralTendency(daily_df),measureCentralTendency(monthly_df)]

stats = pd.DataFrame(getStatsList, columns=["Mode","Mean","Median"],index=["Daily Price","Monthly Price"])
stats

                Mode        Mean  Median
Daily Price    382.3  909.824807   890.9
Monthly Price  342.7  723.299107   419.2

Looking at the above dataframe, we can see daily and monthly mode,mean, and median price of gold from 1994 to 2021.

## References

[1] World Gold Council. (n.d.). Money and Gold. [online] Available at: https://www.gold.org/history-gold/gold-as-currency

[2] ETF Database. (n.d.). Gold ETF List. [online] Available at: https://etfdb.com/etfs/commodity/gold/

[3] Maxwell, T. (2022). Why You Should Buy Gold during Inflation. [online] www.cbsnews.com. Available at: https://www.cbsnews.com/news/why-you-should-buy-gold-during-inflation/ 

[4] Dataset : https://www.kaggle.com/datasets/nward7/gold-historical-datasets?select=Gold_Monthly.csv

[5] Investing.com (2023). Investing.com - Stock Market Quotes & Financial News. [online] Investing.com. Available at: https://www.investing.com/.